@import 'variables.less';

body {
  margin: 0;
}

.toolbar {
  background-color: #599599;
  padding: 10px;
}

input {
  border: none;
  line-height: @input-line-height;
  margin: 0;
  outline: none;
  padding: 0 5px;
}

.dateContainer, .postalCodeContainer {
  margin: 0 5px;
}
