.guide {
  background-color: #B4E2E6;
  margin: 10px 0;
  white-space: nowrap;
}

.headerColumn {
  width: 100px;
}

.headerColumn, .listings {
  display: inline-block;
  position: relative;
}

.time {
  border-bottom: 1px solid black;
}

.hour {
  display: inline-block;
  width: 100px;

  &:nth-child(odd) {
    background-color: #E6C8B4;
  }
  &:nth-child(even) {
    background-color: #FFEDE1;
  }
}

.feed {
  border-bottom: 1px solid gray;
  position: relative;
}

.feedIdentifier {
  background-color: lightgray;

  .channel {
    font-weight: bold;
  }

  .name {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.listing {
  background-color: white;
  border: 1px solid gray;
  cursor: pointer;
  display: inline-block;
  position: absolute;

  > .title, > .subtitle {
    overflow: hidden;
    padding: 0 5px;
    text-overflow: ellipsis;
  }
  > .subtitle {
    font-style: italic;
  }
}

.feedIdentifier, .listings {
  vertical-align: top;
}

.detailsBubble {
  background-color: wheat;
  border: 2px solid gray;
  border-radius: 5px;
  cursor: default;
  padding: 10px;
  position: absolute;
  white-space: normal;
  width: 300px;
  z-index: 2;

  .close {
    cursor: pointer;
    text-align: right;
  }

  .title {
    font-weight: bold;
  }

  .subtitle {
    font-style: italic;
  }

  .description {
    margin: 5px 0 0 0;
  }
}
