@import '../../entry/variables.less';

.dateContainer {
  display: inline-block;
  position: relative;
}

.dateInput {
  border-radius: @input-border-radius;
  vertical-align: top;
}

.calendar {
  left: 0;
  position: absolute;
  top: 19px;
}
