@import '../../entry/variables.less';

.postalCodeContainer {
  display: inline-block;
  position: relative;

  .postalCode, .pinpoint {
    display: inline-block;
    vertical-align: top;
  }

  .postalCode {
    border-radius: @input-border-radius 0 0 @input-border-radius;
  }

  .pinpoint {
    background-color: #B4E2E6;
    border-radius: 0 @input-border-radius @input-border-radius 0;
    color: #997C68;
    cursor: pointer;
    font-family: FontAwesome;
    line-height: @input-line-height;
    padding: 0 5px;
  }
}
