@import '../global/Spinner.less';

.container {
  border-radius: 10px;
  background-color: black;
  display: inline-block;
  left: 50%;
  padding: 20px;
  position: relative;
  top: 50%;

  .spinner {
    .setup-spinner(white, black);
  }
}
.overlay {
  background-color: fade(black, 50%);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
